/*Universal*/

.flex-container {
  display: flex;
  justify-content: space-around;
}

/* Nav */

nav {
  padding-top: 20px;
}

li {
  display: inline;
  padding: 70px;
  font-family: quicksand;
  font-weight: 550;
  color: #005454;
}

.logo {
  max-width: 200px;
}

/*Main*/

main {
  background-image: url("Backgroundimg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.descrip-title {
  font-size: 40px;
}

.description {
  font-family: quicksand;
  text-align: center;
  color: #F8D7DB;
  background-color: #009FA0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 200px 0;
  width: 100%;
}

.links, .about {
  font-family: quicksand;
  font-weight: bold;
  color: #005454;
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

.about {
  background-color: #F8D7DB;
}

.stockist, .work {
  flex-grow: 1;
  flex-shrink: 3;
  flex-wrap: wrap;
  background-color: #F8D7DB;
  margin-top: 10px;
}

.stockist {
  margin-right: 5px;
}

.work {
  margin-left: 5px;
}

#intro {
  font-size: 16px;
  max-width: 1000px;
}

.photo {
  max-width: 400px;
}
